@font-face {
    font-family: header;
    src: url(../fonts/MontereyFLF-Bold.ttf);
}
input{
	color:black;
}
.container{
	background: #3F3F3F;
	color:#fff;
	padding:20px;
	min-height:1000px;
}
.container .row h1{
	font-family: header;
	color:#E68A00;
	
}
.container .todolist button{
	color:black;
}
.container .todolist input{
	padding-left: 10px;
	color:black;
	margin: 10px 0;
}
.container .todolist h1{	
	color:#fff;
	font-family: inherit;
}
.container .todolist ul li{
margin-bottom:20px;
list-style-type: none;
}
.container .todolist ul li ul li{
margin-bottom:0px;
list-style-type: decimal;
/*padding-left:20px;*/
  list-style-position: inside;
}
.container small span{
	color:rgb(232, 41, 41);
}
.container .todolist [type='checkbox']{
	width: 20px;
	float: left;
	padding: 0;
	margin: 0;
	height: 24px;
	margin-right: 4px;
}
.container .todolist [name='addTodo']{
	width: 50%;
}
.scope{
	border: 1px solid red;
	padding:10px;
	margin-bottom:10px;
}
.scope input{
	
	margin-bottom:10px;
}

#listTodos{
	margin-top: 30px;
}
#listTodos li{
	list-style-type: none;
	font-size: 18px;
}
.deleteTodo{
	float: left;
	margin-right: 10px;
	height: 20px;
	line-height: 0.428571;
	width: 50px;
	padding-left: 5px;
	text-align: left;
}